
/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/*  general */
*{
    font-family: Arial, Helvetica, sans-serif;
}

/* background */
.background{
width: 100%;
background-color: #D9DBD4;
}

.top-bar{
width: 100%;
height: 150px;
background-color: #009688;
}

/* contenitore */
#app{
    position: relative;
    width: 85%;
    height: 85vh;
    background-color: white;
    z-index: 1;
    margin: 0 auto;
    top: -90px;
    display: flex;
}

/* barra laterale -----------------------------------------------------------------------*/
.left{
    width: 35%;
}

/* utente*/
.user{
    max-height: 10%;
    padding-left: 10px;
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid lightgray;
}
.myinfo{
    display: flex;
    align-items: center;
}
.myinfo>img{
    border-radius: 50%;
    max-height: 50px;
    padding: 5px 5px 5px 0;
}
.my-icon>i{
    font-size: 1.5rem;
    color: lightgray;
    padding: 0 10px;
}
/* messaggio informativo */
.notify{
    background-color: #8EDAFC;
    max-height: 10%;
    display: flex;
    align-items: center;
}
.fa-bell-slash{
    border-radius: 80%;
    background-color: white;
    padding: 12px;
    margin: 10px 5px 10px 10px;
    font-size: 1.5rem;
    color: #8EDAFC;
}

.font{
    font-size: 0.9rem;
}
.activate-notify{
    text-decoration: underline;
    font-size: 0.8rem;
    opacity: 0.5;
    cursor: pointer;
}

/* barra ricerca utente */
.search{
    width: 100%;
    height: 6%;
}

.search>i{
padding: 10px 20px;
color: lightgray;
}

.search>input{
 border: none;
 background-color: whitesmoke;
 width: calc(100% - 60px);
 height: 30px;
 border-radius: 10px;
 padding-left: 10px;
}

.search>input:focus-visible{
    outline: none;
}

/* users */

.users{
    width: 100%;
    overflow-y: auto;
    max-height: calc(100% - 170px);
}

.single-user{
    height: 80px;
    width: 100%;
    display: flex;
    padding: 10px 10px;
    align-items: center;
}

.single-user>img{
    border-radius: 50%;
    height: 70px;
    max-width: calc((100% /10) * 2);
    min-width:65px;
    margin: 20px 0;
}

.name{
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 4px;
}

.center-name{
width: calc((100% / 10) * 6);
}

.grey{
    opacity: 0.5;
    font-size: 0.7rem;
}

.last-data{
    text-align: end;
    width: calc((100% / 10) * 2)
}

.single-user.selected {
    background-color:rgba(0, 0, 0, 0.1); 
  }

/* corpo messaggio ---------------------------------------------------------------------------------------------------- */
.main{
    width: 65%;
}

/* dati utente chat */

.now-chat-user{
    max-height: 10%;
    padding-left: 10px;
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 10%
}

.chat-icon{
    font-size: 1.5rem;
    color: lightgray;
    padding: 0 10px;
}

.pseudogrey{
    color: grey;
}

.chat-info{
    display: flex;
    align-items: center;
}

.chat-info>img{
    border-radius: 50%;
    max-height: 50px;
    padding: 5px 5px 5px 0;
}

/* chat */

.chat{
    width: 100%;
    max-height: calc(100% - 114px);
    min-height: calc(100% - 114px);
    background-image:url(../img/mine.jpg);
    padding: 10px  0;
    display: flex;
    flex-direction: column;
    overflow: auto;
}




.sent{
    display: flex;
    justify-content: end;
    
    
}
.sent>p{
    background-color: #D5F9BA;
    padding: 20px;
}



.received{
    display:flex ;
    justify-content: start;
}
.received>p{
    background-color: white;
    padding: 20px;
}

.sent>p , .received>p{
    width: max-content;
    min-width: 200px;
    position: relative;
    padding-right: 50px;
    border-radius: 15px;
}

.sent,.received{
    margin: 10px 10px;
    flex-wrap: wrap;
    position: relative;
    overflow-wrap: anywhere;
    
}

.sent>p>* , .received>p>*{
    max-width: 800px;
    overflow: wrap;
}
.data-message{
    font-size: 0.6rem;
    color: grey;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.received>.dropdown-menu{
    position: absolute;
    bottom: -30px;
    background-color: lavenderblush;
    padding: 15px 10px;
    left:30px ;
}

.sent>.dropdown-menu{
    position: absolute;
    bottom: -30px;
    background-color: white;
    padding: 15px 10px;
    right:20px ;
    z-index: 2;
}
ul>li{
    color:rgba(0, 0, 0, 0.6);
}

ul{
    list-style: none;
}
/* messaggio */

.message{
    width: 100%;
    height: 8%;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
}

.message>i{
    padding: 10px 20px;
    color: gray;
    font-size: 1.5rem;
    }
    
    .message>input{
     border: 2px solid gray;
     background-color: white;
     width: calc(100% - 60px);
     height: 50px;
     padding-left: 20px;
     border-radius: 10px;
    }
    
    .message>input:focus-visible{
        outline: none;
    }